.container {
    .block {
        .label {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-bottom: 40px;
            &::after {
                position: absolute;
                content: '';
                width: 1080px;
                height: 1px;
                bottom: 0;
                right: 0;
                background: #EAEAEA;
            }
            &__logo {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-gap: 16px;
                padding-left: 45px;
                &-text {
                    display: flex;
                    flex-direction: column;
                    b {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    span {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #9D9D9D;
                    }
                }
            }
            &__active {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: 30px;
                align-items: center;
                padding-right: 45px;
                &-by {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    span {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #5C5C5C;
                    }
                }
                &-likes {
                    cursor: pointer;
                }
                &-profile {
                    cursor: pointer;
                }
            }
        }
    }
}